body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  padding: 20px;
}

.product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
  font-family: arial;
  flex: 1 1 calc(23% - 15px); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; 
  padding: 10px; 
}

.card img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  margin-bottom: 10px;
  object-fit: contain;
}

.card h1{
  font-size: 1rem;
}

.card p {
  margin: 5px 0px;
}

.price {
  color: grey;
  font-size: 18px;
  margin: 10px 0;
}


.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px; 
  margin-top: 10px; 
}

.card button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .card {
    flex: 1 1 calc(48% - 15px); 
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 15px); 
  }
}
